body {
    font-family: sans-serif;
    text-align: center;
    display: contents;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin-left: 50px;
}

#joke-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    display: flex;
    width: 300px;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
}